
/* styles.css */
body {
  font-family: 'Noto Sans TC', Arial, sans-serif;
  background: linear-gradient(to bottom, #fcecec, #79bd59);
  color: #333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: hidden;
}

.card-img-top {
  width: 100%;
  aspect-ratio: 868 / 1164;
  object-fit: cover;
  border-radius: 0;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.modal-img {
  max-width: 100%;
  height: auto;
}

/* 讓 dropdown 在滑過時展開 */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* 粉紅氣泡背景動畫 */
.bubble {
  position: absolute;
  bottom: -100px;
  width: 20px;
  height: 20px;
  background: rgba(250, 1, 38, 0.6);
  border-radius: 50%;
  animation: bubbleFloat 10s infinite ease-in;
}

@keyframes bubbleFloat {
  0% {
      transform: translateY(80vh) scale(0.8);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translateY(-20vh) scale(1.2);
      opacity: 0;
  }
}
